/PrimerPrograma/nbproject/private/
/PrimerPrograma/build/
/Variables/nbproject/private/
/Ciclos/nbproject/private/
/Ciclos/build/
/seno/nbproject/private/
/seno/build/
/Repaso/nbproject/private/
/Repaso/build/
/matriz/nbproject/private/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/Poo/nbproject/private/
/Poo/build/
/Paqueteria/nbproject/private/
/CreacionArchivos/nbproject/private/
/CreacionArchivos/build/
/sanke/nbproject/private/
/sanke/build/
